label,
textarea {
  display: block;
}

textarea[type='text'] {
  height: 50px;
  transition: ease-in-out, height 0.35s ease-in-out;
}

textarea[type='text']:focus {
  height: 200px;
}

.add-entry {
  background: linear-gradient(to bottom right, #57bc90, #77c9d4);
  padding: 10px 10px 60px 10px;
  color: #f8f8f8;
  /* border-top: 1px solid #77c9d4; */
}

.header {
  color: #015249 !important;
}

.journal-title {
  color: #015249;
}

.journal-title-box {
  max-width: 400px;
  border: #015249 1px solid;
  color: blue;
  background-color: #f8f8f8;
}

.journal-content {
  color: #015249;
}

.journal-content-box {
  transition: height 1s ease-out;
  background-color: #f8f8f8;
  border: #015249 1px solid;
}

.journal-content-box:focus {
  height: 200px;
  overflow: auto;
}

.entry-btn {
  background: none;
  border: none;
  color: #f8f8f8;
  margin-right: 2em;
  font-size: 1.2em;
}
