input {
  border-color: #015249 !important;
}

input:focus {
  border-color: #77c9d4 !important;
}

.register {
  text-decoration: none;
}

.filler {
  height: 300px;
}

.login {
  background: linear-gradient(to bottom right, #77c9d4, #57bc90);
  padding-top: 5em;
}

.card-header {
  color: #015249;
}

.link {
  color: #77c9d4;
}

.btn-submit {
  background-color: #57bc90;
}
