.form-signin {
  width: 100%;
}

.btn {
  margin: 10px;
}

.btn-submit {
  margin: 10px 10px;
}

.header {
  padding-bottom: 20px;
  font-size: 2em;
}

label {
  padding: 5px;
}

.filler {
  height: 300px;
}

.register {
  background: linear-gradient(to bottom right, #77c9d4, #57bc90);
  padding-top: 5em;
}

.link {
  color: #77c9d4;
}
