.home-btn {
  text-decoration: none;
  color: #77c9d4;
  padding-left: 250px;
  font-size: 1.3em;
}

.error-header {
  color: #015249;
}

.error-subheader {
  color: #015249;
}

.error-details {
  color: #015249;
}
